.featured {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.OneImageSection {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.featuredImgOne {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}


.featuredTitlesOne {
  position: absolute;
  color: aliceblue;
  bottom: 20px;
  left: 20px;
}

.TwoimageSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 30rem;
  justify-content: center;
  gap: 1rem;
}

.featuredItemMain {
  width: 100%;
  height: 20rem;
}

.featuredItem {
  position: relative;
  color: white;
  height: 250px;
}

.featuredTitles {
  padding: 1rem 0 1rem 0;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.featuredTitlesSpanMain {
  color: black;
  font-size: larger;
  font-weight: 600;
}

.featuredTitlesSpan {
  color: #949494;
  font-size: small;
  font-weight: 600;
}

.GridThreeSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  height: 25rem;
  position: relative;
}

/* Second Grid */

.GridThreeSection {
  width: 100%;
  height: auto;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.featuredItemGrid {
  position: relative;
  color: white;
  overflow: hidden;
  height: 250px;
  flex: 1;
}

.featuredTitlesGrid {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.featuredImgGrid{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.featuredImgGrid:hover {
  transition: 0.4s;
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
