.radio {
  margin-top: 10px;
  display: flex;
  gap: 25px;
}
input[type="radio"] {
  border: 0px;
  width: 25px;
  height: 1.5rem;
  padding: 5px;
}
input[type="checkbox"] {
  border: 0px;
  width: 25px;
  height: 1.5rem;
  padding: 5px;
}
label {
  vertical-align: top;
}
select {
  border: none;
  background-color: whitesmoke;
  width: 90px;
}
.searchBox {
  width: 95%;
  height: 65px;
  background-color: white;
  border: 5px solid #febb02;
  display: flex;
  margin-top: 10px;
  border-radius: 2px;
}
input[type="text"] {
  font-size: 15px;
}
.searchInput {
  border: none;
  outline: none;
}
.date {
  color: lightgray;
  cursor: pointer;
}
.searchButton {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0.2rem 0.5rem 0 0.6rem;
}

.searchButtonBlue{
  height:auto;
  width: auto;
}

.input1 {
  width: 30%;
  height: 100%;
  border: 1px solid #febb02;
  display: flex;
}
.input2 {
  width: 30%;
  height: 100%;
  border: 1px solid #febb02;
  display: flex;
}
.date1 {
  width: 14%;
  height: 100%;
  border: 1px solid #febb02;
  padding: 0 0.5rem 0 0.5rem;
}
.date2 {
  width: 14%;
  height: 100%;
  border: 1px solid #febb02;
  padding: 0 0.5rem 0 0.5rem;
}
.fromwhere {
  height: 90%;
  width: 100%;
  border: none;
  outline: none;
}

.dep {
  height: 90%;
  width: 95%;
  border: none;
}

.PlaneIcon {
  color: #6b6b6b;
  font-size: larger;
}
