.SearchDivForColor{
  background-color: #F5F5F5;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.SearcHbarDiv {
  width: 90%;
  height: auto;
  background: whitesmoke;
  margin: auto;
}
.TrendingCitiesDiv {
  margin: auto;
  width: 90%;
  height: auto;
  background: white;
  padding-bottom: 3rem;
}

.topFlights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: auto;
  display: flex;
}

.DataDiv {
  width: 30%;
  height: auto;
  gap: 1rem;
}

.topFlightsImg {
  border-radius: 9px;
  width: auto;
  height: 260px;
}

.DataDivHeading {
  margin-top: 1rem;
}

/* Huge Section */

.HugSectionParent {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 2rem 0 5rem 0;
}

.HugeSection {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
}
.b1 {
  height: 100%;
  width: 27%;
  display: flex;
}
.b2 {
  height: 100%;
  width: 30%;
  display: flex;
}
.b3 {
  height: 100%;
  width: 30%;
  display: flex;
}

.IconSection {
  margin: auto;
  margin-top: 90px;
  margin-left: 25px;
}

.FlyworldwideSection {
  width: 90%;
  height: auto;
  background: white;
  padding-top: 2rem;
  margin: auto;
}

.FlyworldDataChangeOnclick {
  margin-top: 2rem;
  display: flex;
  gap: 0.7rem;
}

.FlyworldDataChangeOnclick button {
  margin-top: 1rem;
}

.flyWorldwide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.faqSection {
  width: 100%;
  height: auto;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.flyWorldMapDataDiv {
  width: 340px;
  height: auto;
  margin-bottom: 10px;
  display: flex;
}

.faqSecDiv {
  width: 100%;
  height: 180px;
  border: 1px solid rgb(202, 200, 200);
  margin: auto;
  padding: 1rem 0 1rem 0.5rem;
  border-radius: 5px;
}

.DataChangeBtns {
  height: auto;
  width: auto;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: white;
  border-bottom-color: rgb(238, 236, 236);
  border-width: thin;
  margin-bottom: 1rem;
}
.DataChangeBtns:focus {
  border-bottom: 2px solid #006CE8;
  color: #006CE8;
}
