.Parent {
  width: 100%;
  height: 1000vh;
}

.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 8rem;
  width: 100%;
}

.headerContainer {
  width: 90%;
  margin: 20px 0px 100px 0px;
}

.headerList {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.headerlistItems {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerSection {
  width: 100%;
  height: 17.4rem;
}

.headerImage {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.contentImg {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.imgsectionH1 {
  color: white;
  padding: 1rem 0 1rem 0;
  z-index: 1;
  font-size: 40px;
  width: 50%;
}

.ImgsectionPTag {
  color: white;
  z-index: 1;
  font-size: 20px;
}

.headerSearchParent {
  width: 90%;
  margin: auto;
  margin-top: auto;
  border: 2px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 4px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100%;
}

.headerIcons {
  color: #6b6b6b;
}

.headerSearchItems {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid green;
  
}

.headerSearchInput {
    border: none;
    outline: none;
  }
  
  .DateSection{
    margin: auto;
    margin-top: 25rem;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }